{% extends 'base.html' %}
{% load static %}
{% block content %}

IPL DATA
<div id="container" style="width:100%; height:400px;">
        

</div>
<script> 

    console.log(JSON.parse({{ bowling_team }}))
    
    document.addEventListener('DOMContentLoaded', function () {
        {{ bowling_team }};
        extra_runs = {{ extra_runs }};

        var chart = Highcharts.chart("container", {
                title: {
                    text: "Extra Runs per Team in 2016"
                },
                subtitle: {
                    text: "IPL Data"
                },
                xAxis: {
                    title: {
                        text: "Teams"
                    },
                    categories: teams
                },
                yAxis: {
                    title: {
                        text: "Extra Runs"
                    }
                },
                series: [
                    {
                        type: "column",
                        name: "Runs",
                        colorByPoint: true,
                        data: extra_runs,
                        showInLegend: false
                    }
                ]
            });
    });
</script>

{% endblock %}