{% extends 'base.html' %}
{% load static %}
{% block content %}

IPL DATA
<div id="container" style="width:100%; height:400px;">


</div>
<script> 
    document.addEventListener('DOMContentLoaded', function () {
        seasons = {{ seasons }};
        matches = {{ matches }};

        var chart = Highcharts.chart("container", {
                title: {
                    text: "Matches per Season"
                },
                subtitle: {
                    text: "IPL Data"
                },
                xAxis: {
                    title: {
                        text: "Seasons"
                    },
                    categories: seasons
                },
                yAxis: {
                    title: {
                        text: "Match played"
                    }
                },
                series: [
                    {
                        type: "column",
                        name: "Matches",
                        colorByPoint: true,
                        data: matches,
                        showInLegend: false
                    }
                ]
            });
    });
</script>

{% endblock %}